html, body {
	font-family: 'Ravi Prakash', cursive;
	margin: 0;
	padding: 0;
	height: 100%;
	background: #D3D3D3;
}

h1, h2, h3, h4, h5, h6 {
	margin : 0;
}

a {
	color: black;
}

li {
	list-style-type: none;
}

.main {
	width: 70%;
	margin: 0 auto;
}

.generic-quote > .quote {
	font-size: 3em;
	font-style: italic;
}

.generic-quote > .author {
	padding-right: 200px;
	float: right;
}

.odd, .even {
	width: 100%;
	overflow: hidden;
	clear: both;
}

.odd {
	background-color: white;
}

.even {
	background: rgba(34,125,170,1);
	background: -moz-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
	background: -webkit-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
	background: -o-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
	background: -ms-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
	background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
}

.even p, .even h1 {
	text-align: left;
	color: white;
}

.odd p, .odd h1 {
	text-align: left;
	color: #58798c;
}

.headers {
	padding: 25px 0px 0px 50px;
	margin: 0;
	float:left;
	width: 100px;
}

.headers > img {
	padding-top: 15px;
	height: 80px;
	width: 80px;
}

.content {
	padding-left: 250px;
	margin: 0;
	word-wrap: break-word;
	float:left;
}

.content li {
	max-width: 340px;
}

.odd .content li {
	margin: 10px;
	padding: 20px;
	color: #58798c;
	border: 1px solid #58798c;
	border-radius: 5px;
}

.even .content li {
	color: white;
	margin: 10px;
	padding: 20px;
	border: 1px solid white;
	border-radius: 5px;
}

.intro h1, .intro p {
	text-align: center;
}

.intro {
	padding-top: 55px;
}

.navbar p {
	padding: 0;
	margin: 0 10px;
	float: left;
	font: black;
}

.navbar img {
	margin: 0 10px 0 10px;
	float: right;
	width: 20px;
	height: 20px;
}

.navbar h1 {
	text-align: center;
}

.navbar {
	opacity: .5;
	left: 15%;
	right: 15%;
	position: fixed;
	background-color: white;
	height: 50px;
	box-shadow: 0 1px 1px 1px black;
}

.experience-list li {
	float: left;
}

hr {
	width: 150px;
	margin: 0;
}

@media (min-width: 360px) and (max-width: 1550px) {
	.main {
		width: 100%;
	}

	.headers {
		padding: 25px 0px 0px 50px;
		margin: 0;
		float:left;
		width: 0;
	}

	.navbar {
		position: fixed;
		right: 0;
		left: 0;
	}
}

